---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { commitSession, getSession } from "../utils/session";

const session = await getSession(Astro.request);
const msg = session.flash("success");

Astro.response.headers.set("set-cookie", await commitSession(session));

const count = session.get("count");
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="text-gradient">Astro Session</span></h1>

    <section>
      <h2>Your session</h2>

      {msg && <p style="background-color: green">{msg}</p>}

      <code>
        {JSON.stringify(session.toJSON())}
      </code>

      <p>My count: <b>{count}</b></p>
    </section>

    <ul role="list" class="link-card-grid">
      <Card
        href="/api/add-in-session"
        title="Add data in session"
        body="Test adding some data into the session"
      />

      <Card
        href="/api/flash-in-session"
        title="Add flash data in session"
        body="Test adding some flashed data into the session"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
